In [31]:
import os

import pandas as pd

In [32]:
data_dir = '../data/seed/'

rename_dict = {
    'bpsys_f_2': 'SBP_2',
    'bpdia_f_2': 'DBP_2',
    'bppul_f_2': 'HR_2'
}

seed = pd.read_csv(data_dir + 'SEED_progression.csv')
seed = seed.rename(columns=rename_dict)

seed.head()

/tmp/ipykernel_16872/2027056006.py:9: DtypeWarning: Columns (97,99,153,155,181,183,209,211,306,307,308,362,363,364,391,392,393,420,421,422) have mixed types. Specify dtype option on import or set low_memory=False.
  seed = pd.read_csv(data_dir + 'SEED_progression.csv')

,sno,time_between_visits,gender,age,SBP,DBP,HR,bmi,anti_ht,anti_chol,...,CUPVOLUME_R_2,ONHCENTER_X_R_2,ONHCENTER_Y_R_2,Comments_ONH_R_2,Exclusioncodings_ONH_R_2,Anyotherremarks_ONH_R_2,eye,func_progression,glauc_progression,Patient
0,MS26151,NaN,2,65.086927,162.5,68.0,63.5,24.532644,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,R,-1,-1,MS26151_R
1,MS21290,NaN,2,43.819302,132.5,84.5,90.5,26.304339,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,R,-1,-1,MS21290_R
2,MS11063,NaN,2,66.313484,144.5,70.0,53.5,29.015688,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,R,-1,-1,MS11063_R
3,MS26049,5.648186,1,43.241615,144.0,85.5,98.0,45.068871,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,R,-1,0,MS26049_R
4,MS13148,NaN,1,77.075975,118.0,63.5,96.0,19.147334,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,R,-1,-1,MS13148_R

In [33]:
def combine_csvs(directory_path):
    dataframes = []

    for filename in os.listdir(directory_path):
        file_path = os.path.join(directory_path, filename)
        if filename.endswith('.csv') and os.path.isfile(file_path):
            df = pd.read_csv(file_path)
            dataframes.append(df)

    combined_df = pd.concat(dataframes, ignore_index=True)

    return combined_df

In [34]:
first = combine_csvs(data_dir + 'SEED_enhanced/')
first = first.drop(['IOP', 'SBP', 'DBP', 'HR'], axis=1)

first.head()

,Patient,MAP,P1,P2,P4,P5,Qmean,R1,R4,R5
0,CS57219_R,98.500000,51.188335,41.251428,23.878099,20.212130,0.000876,7426.510228,5097.058657,2239.846689
1,CS59136_R,96.888889,46.689147,37.757902,22.506549,19.580827,0.000787,7424.686826,4175.174478,2230.679917
2,CS54607_R,78.944444,37.721565,31.435954,20.356822,17.913091,0.000552,7458.886386,5528.570360,2237.948255
3,CS56320_R,102.166667,49.794608,40.137276,23.424363,20.035660,0.000851,7424.511240,4668.199823,2234.606185
4,CS54285_R,99.666667,46.914692,38.121212,22.748425,19.488338,0.000774,7435.334376,5120.628722,2237.039098

In [35]:
temp = combine_csvs(data_dir + 'SEED_enhanced_2/')

second = pd.DataFrame({
    'Patient': temp['Patient'],
    'MAP_2': temp['MAP'],
    'HR_2': temp['HR'],
    'P1_2': temp['P1'],
    'P2_2': temp['P2'],
    'P4_2': temp['P4'],
    'P5_2': temp['P5'],
    'Qmean_2': temp['Qmean'],
    'R1_2': temp['R1'],
    'R4_2': temp['R4'],
    'R5_2': temp['R5']
})

second.head()

,Patient,MAP_2,HR_2,P1_2,P2_2,P4_2,P5_2,Qmean_2,R1_2,R4_2,R5_2
0,CS57219_R,96.166667,66.5,50.567077,40.584380,23.517604,20.246848,0.000881,7417.048609,4179.957956,2231.193582
1,CS54607_R,77.666667,70.5,39.880502,33.350265,21.701763,18.066230,0.000574,7461.556585,6093.119804,3649.024847
2,CS56320_R,108.000000,62.5,54.815227,43.572286,24.526970,21.044888,0.000994,7402.624712,3763.898869,2228.468649
3,CS54285_R,101.333333,58.0,50.647119,41.193821,24.552421,19.904107,0.000833,7433.576174,5496.131283,3454.068316
4,CS52624_R,95.166667,86.0,47.713788,38.547677,22.812932,19.728940,0.000808,7424.714050,4319.341894,2231.977825

In [36]:
seed_new = pd.merge(seed, first, on='Patient', how='inner')
seed_new = pd.merge(seed_new, second, on='Patient', how='inner')
seed_new.head()

,sno,time_between_visits,gender,age,SBP,DBP,HR,bmi,anti_ht,anti_chol,...,MAP_2,HR_2_y,P1_2,P2_2,P4_2,P5_2,Qmean_2,R1_2,R4_2,R5_2
0,MS26049,5.648186,1,43.241615,144.0,85.5,98.000000,45.068871,1.0,0.0,...,88.333333,90.500000,40.859367,33.506949,20.980650,18.587557,0.000647,7435.234068,4044.148563,2229.137763
1,MS23231,5.475702,2,65.363450,162.0,76.5,46.000000,25.022308,1.0,1.0,...,115.166667,66.666667,56.521295,44.700214,24.865252,21.413196,0.001046,7392.455694,3331.391658,2224.939349
2,MS24101,5.538672,1,41.371663,136.0,93.0,51.333333,25.908785,1.0,0.0,...,107.333333,55.000000,49.239346,39.849526,23.392292,19.862221,0.000827,7431.576823,5233.255907,2248.475360
3,MS25943,5.963039,1,55.394935,139.5,87.0,90.500000,26.189164,0.0,0.0,...,109.000000,84.000000,50.135052,40.386327,23.515276,20.091413,0.000859,7423.364116,4632.570849,2234.514213
4,MS26118,6.017796,2,66.680356,112.0,63.0,70.000000,25.829674,0.0,0.0,...,87.666667,77.000000,44.260461,36.159343,22.028264,19.055257,0.000713,7440.154252,5037.417576,2236.141390

In [37]:
seed_new.to_csv(data_dir + 'SEED_progression_enhanced.csv', index=False)