In [2]:
import pandas as pd

df = pd.read_excel('../data/seed/SEED.xlsx')
df

,sno,time_between_visits,gender,age,bpsys_f,bpdia_f,bppul_f,bmi,anti_ht,anti_chol,...,RIMAREA_R_2,DISCAREA_R_2,AVERAGE_CD_RATIO_R_2,VERTICAL_CD_RATIO_R_2,CUPVOLUME_R_2,ONHCENTER_X_R_2,ONHCENTER_Y_R_2,Comments_ONH_R_2,Exclusioncodings_ONH_R_2,Anyotherremarks_ONH_R_2
0,MS26151,NaN,2,65.086927,162.500000,68.0,63.500000,24.532644,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MS21290,NaN,2,43.819302,132.500000,84.5,90.500000,26.304339,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MS11063,NaN,2,66.313484,144.500000,70.0,53.500000,29.015688,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MS26049,5.648186,1,43.241615,144.000000,85.5,98.000000,45.068871,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MS13148,NaN,1,77.075975,118.000000,63.5,96.000000,19.147334,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10028,CS51759,3.181383,1,48.531143,155.500000,89.5,88.500000,22.320562,0.0,0.0,...,1.34,1.34,0.08,0.07,0.003,97.0,98.0,NaN,.,NaN
10029,CS50489,NaN,1,55.504449,145.000000,89.5,110.333333,15.312441,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10030,CS55300,6.428474,1,61.393566,122.500000,80.0,101.500000,22.968750,0.0,0.0,...,1.19,2.22,0.67,0.60,0.196,100.0,98.0,NaN,.,NaN
10031,CS51844,5.571526,2,55.857632,138.666667,84.0,87.000000,23.109639,0.0,0.0,...,1.15,2.25,0.70,0.65,0.372,103.0,94.0,NaN,.,NaN
10032,CS59766,4.955510,2,46.828200,129.500000,65.5,79.500000,24.447087,1.0,0.0,...,1.16,2.02,0.65,0.62,0.266,104.0,102.0,NaN,.,NaN

In [3]:
unique_subjects = df['sno'].nunique()
print(f"Number of unique subjects: {unique_subjects}")

Number of unique subjects: 10033